/* Estilos devStar */

.section-tela{
    text-align: center;
}

.title-table{
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;    
}

.table-p > table{
    width: 50%;
}

td,th{
    border: 1px solid;
    padding: 8px;
    text-align: left;
}

@media screen and (max-width: 992px) {
    .section-tela {
        width: 100%;
    }
}